<div class="container">
  <div class="content">
  <div class="intro">
    <h1>Aswer!</h1>
  </div>
  <div class="text_field"></div>
  <p><%= @question %></h1>
<p><%= @answer %></h1>
<%= link_to "/ask", ask_path %>
  </div>
</div>

