<div class="container">
  <div class="content">
  <div class="intro">
    <h1>Ask a question!</h1>
    <p>Find me in app/views/questions/ask.html.erb</p>
  </div>
  <div class="text_field"></div>
  <form action="/answer">
    <input class="box" type="text" name="user_questions">
    <input class="btn" type="submit" value="Ask!">
  </form>
  </div>
</div>

